body{
  background-color:beige;
}
h1{

  border: 0ch;
  color: white;
}
/* Reset some default styles */
body, h1, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

header {
  background-color:rgb(62, 146, 62);
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

h1 {
  font-size: 36px;
  margin-top: 10px;
}

main {
  padding: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.image-container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.image-container:hover img {
  transform: scale(1.1);
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
}

.lightbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
}

footer {
  background-color: rgb(62, 146, 62);
  color: #fff;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 100;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
p{
  color:crimson;
  text-align: center;
  width: 100%;
  text: emphasis style;
}
